ServerSignature Off
RewriteEngine on
#Lỗi không tồn tại
ErrorDocument 404 /view/error/error.php
#view
RewriteRule ^project$ /porfolio.php [L]
<Files 403.shtml>
order allow,deny
allow from all
</Files>
